@import '../../tokens/spacing';

:host {
  display: inline-block;
}

.ds-btn--sm {
  font-size: 12px;
  padding: $cv-spacing-xs $cv-spacing-sm;
}

.ds-btn--lg {
  font-size: 16px;
  padding: $cv-spacing-sm $cv-spacing-lg;
}

.ds-btn__spinner {
  display: inline-block;
  vertical-align: middle;
}
